body {
  /* set a height so the container takes up the full viewport */
  background: black;
  font-family: 'Sora', monospace;
  margin: 0;
  padding: 5%;
}

h1,
p {
  color: white;
  text-align: justify;
}

.header-container {
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* set a height so the container takes up the full viewport */
  margin-top: 10%;
  background-color: aquamarine;
}

.content {
  background-color: brown;
  justify-content: center;
  text-align: center;
}

.fade-in-1 {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

.fade-in-2 {
  opacity: 0;
  animation: fade-in 5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}