body {
  /* set a height so the container takes up the full viewport */
  background: rgb(28, 28, 28);
  font-family: 'Sora', monospace;
  margin: 0;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

.container-inner {
  display: grid;
  grid-template-rows: 20% 80%;
  height: 65vh;
  width: 75vw;
  margin: 0;
}

/* https: //nikitahl.com/gradient-border-css THE GOAT */
.gradient-border-mask {
  position: relative;
  padding: 10vh;
  animation: gradient 15s ease infinite;
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 20px solid transparent;
  background: linear-gradient(75deg, rgb(0, 255, 21) 0%, rgb(0, 153, 255) 13%, rgba(255, 215, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgb(255, 0, 0) 60%, rgb(255, 0, 238) 80%, rgba(255, 215, 0, 1) 100%);
  background-size: 1000% 1000%;
  animation: gradient 20s ease infinite;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }

  50% {
    background-position: 90% 50%;
  }

  100% {
    background-position: 10% 50%;
  }
}

.grid-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.socials {
  display: flex;
  flex-direction: row;
  height: 100%;
}

i {
  padding: 0 20px 0 20px;
}

.socials>div {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(12, 0, 255);
  background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 0%);
  background-position: 0 -500px;
  background-repeat: no-repeat;
  animation: ih-in 3s forwards;
}

.socials>div:hover {
  animation: icon-highlight 0.2s forwards;
}

@keyframes ih-in {
  from {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  to {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 0%);
    background-position: 0 -500px;
    background-repeat: no-repeat;
  }
}

@keyframes icon-highlight {
  0% {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 0%);
    background-position: 0 -500px;
    background-repeat: no-repeat;
  }

  100% {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.grid-item-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 10%;
}


.short-fade {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}


.fade {
  opacity: 0;
  animation: fade-in 5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.myButton:hover {
  background-color: #408c99;
}

.content2 {
  color: #ffffff;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 60%;
  overflow: auto;
  padding: 0 5% 0 5%;
}

.content2::-webkit-scrollbar {
  display: none;
}

hr {
  width: auto;
  height: 3px;
  background-color: #ffffff;
  border: 0;
}

.imgtest {
  width: 100%;
  height: 50%;
}