body {
  /* set a height so the container takes up the full viewport */
  background: rgb(28, 28, 28);
  font-family: 'Sora', monospace;
  margin: 0;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-inner {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 80% 20%;
  height: 65vh;
  width: 75vw;
}

/* https://nikitahl.com/gradient-border-css THE GOAT */
.gradient-border-mask {
  position: relative;
  padding: 10vh;
  /* animation: gradient 15s ease infinite; */
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 10px solid transparent;
  background: linear-gradient(75deg, rgba(255, 215, 0, 1) 0%, rgba(255, 165, 0, 1) 13%, rgba(255, 215, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 215, 0, 1) 60%, rgba(255, 165, 0, 1) 80%, rgba(255, 215, 0, 1) 100%);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
}

@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }

  50% {
    background-position: 90% 50%;
  }

  100% {
    background-position: 10% 50%;
  }
}

.grid-item-header {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.socials {
  display: flex;
  flex-direction: row;
  height: 100%;
}

i {
  padding: 0 20px 0 20px;
}

.socials>div {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(12, 0, 255);
  background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 0%);
  background-position: 0 -500px;
  background-repeat: no-repeat;
  animation: ih-in 3s forwards;
}

.socials>div:hover {
  animation: icon-highlight 0.2s forwards;
}

@keyframes ih-in {
  from {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  to {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 0%);
    background-position: 0 -500px;
    background-repeat: no-repeat;
  }
}

@keyframes icon-highlight {
  0% {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 0%);
    background-position: 0 -500px;
    background-repeat: no-repeat;
  }

  100% {
    background: linear-gradient(180deg, gold 0%, rgba(255, 200, 0, 0) 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.grid-item-main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: max-content; */
}

.content {
  display: grid;
  /* grid-template-columns: 80% 20%; */
  /* height: 65vh;
  width: 75vw; */
  margin: 0;
}

.main-icon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.grid-item-side {
  height: 75%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.selection {
  padding: 20px;
  padding-left: 30px;
  /* background-color: pink; */
}

.bbtest {
  /* background-color: brown; */
  /* position: relative; */
  /* cursor: pointer; */
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
}

.project-item {
  position: relative;
  cursor: pointer;
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
}

.line {
  padding: 0;
  margin: 5px 0 0 0;
  background: linear-gradient(75deg, rgba(255, 215, 0, 1) 0%, rgba(255, 165, 0, 1) 13%, rgba(255, 215, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 215, 0, 1) 60%, rgba(255, 165, 0, 1) 80%, rgba(255, 215, 0, 1) 100%);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  width: 50%;
  transition: width 0.5s ease;
}

.project-item:hover hr {
  width: 100%;
}

.gradient-border-mask-side {
  position: relative;
}

.gradient-border-mask-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  border: 3px solid transparent;
  background: linear-gradient(75deg, rgba(255, 215, 0, 1) 0%, rgba(255, 165, 0, 1) 13%, rgba(255, 215, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 215, 0, 1) 60%, rgba(255, 165, 0, 1) 80%, rgba(255, 215, 0, 1) 100%);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  /* https: //stackoverflow.com/questions/42689380/css-cut-half-top-right-border-and-half-right-top-border */
  clip-path: polygon(0 0, 40% 0, 40% 75%, 0 75%);
  transition: clip-path 0.5s ease;
}


.gradient-border-mask-side::before:hover {
  clip-path: polygon(0 0, 40% 0, 40% 100%, 0 100%);
}

.welcome {
  font-size: 100px;
  margin: 0;
}

.description {
  margin: 0;
}

.short-fade {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}


.fade {
  opacity: 0;
  animation: fade-in 5s ease forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.myButton:hover {
  background-color: #408c99;
}

.content2 {
  color: #ffffff;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 60%;
  overflow: auto;
  padding: 0 5% 0 5%;
}

.content2::-webkit-scrollbar {
  display: none;
}

hr {
  width: auto;
  height: 3px;
  background-color: #ffffff;
  border: 0;
}

.imgtest {
  width: 100%;
  height: 50%;
}