@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

:root {
  --bg-color: #FAFAF9;
  --font-color: #121212;

  --card-color: #F0EEEE;
  --date-font-color: #908A86;
  
  --tech-item-color: #E2E2E2;
  --tech-font-color: #888888;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis';
    font-size: larger;
    background-color: var(--bg-color);
    height: 5000px
}

header {
    display: flex;
    flex-direction: row;
    /* TODO: make responsive */
    width: 1000px;
    height: 150px;
    justify-content: space-between;
}

.minime {
    align-self: center;
    cursor: pointer;
}

.minime>img {
    width: 50px;
    image-rendering: pixelated;
}

nav {
    display: flex;
    flex-direction: row;
}

nav>div {
    margin-left: 50px;
}
.line-button {
    align-self: center;
    cursor: pointer;
    /* font-family: 'Sora', monospace; */
    /* font-weight: 1000; */
    color: var(--font-color);
    transition: color 0.5s ease;
}

.line-button>a {
  color: var(--font-color);
  transition: color 0.5s ease;
  text-decoration: none;
}

.line-button:hover, .line-button>a:hover {
  color: var(--font-color);
}

.line {
    height: 3px;
    border: 0;
    margin: 5px 0 0 0;
    background: var(--font-color);
    /* background-size: 500% 500%; */
    /* animation: gradient var(--gradient-animation-duration) ease var(--gradient-animation-delay) infinite; */
    width: 0%;
    transition: width 0.5s ease;
}

.line-button:hover>.line {
  width: 100%;
}

.line-button-selected {
  width: 100%;
}

main {
    width: 1000px;
}

main>section {
    margin-top: 100px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin: 0;
}

.project-header {
    margin-bottom: 30px;
}

.project-anchor {
    cursor: pointer;
}

.project-card {
    background-color: var(--card-color);
    width: 100%;
    height: 320px;
    border-radius: 20px;
    /* padding: 0 30px 0 30px; */
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns:2% 33% 63% 2%;
    transition: all ease .3s;
}

/* https://codepen.io/Amirali_79/pen/oXZKyN */
.project-card:hover {
    box-shadow: 0 0 0 3px #FAFAF9, 0 0 0 5px var(--card-color);
}

.project-details {
    grid-column: 2;
    display: grid;
    grid-template-rows: [date] 30% [title] 20% [desc] 10% [stack] 40%;
    padding: 30px 0 20px 0;
}

.project-date {
    font-size: medium;
    color: var(--date-font-color);
}

/* I'd say they're more like buzzwords XD */
.project-tech-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: center;
    /* align-items: center; */
    width: 100%;
    /* height: auto; */
}

.project-tech-stack>span {
    background-color: var(--tech-item-color);
    color: var(--tech-font-color);
    border-radius: 20px;
    font-size: small;
    padding: 5px 10px 5px 10px;
    margin: 5px 3px 5px 3px;
    min-width: 40px;
    display: flex;
    justify-content: center;
}

.project-img {
    grid-column: 3;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
}
.project-img>img {
    height: 100%;
    align-self: center;
    transition: all ease .3s;
}

.project-anchor:hover .project-img>img {
    height: 105%;
}

.contact {
    margin: 100px 200px 0 200px;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-list>div {
    margin: 0 25px 0 25px;
}

.contact-list>a {
    margin: 0 25px 0 25px;
    color: var(--font-color);
    transition: color 0.5s ease;
    text-decoration: none;
}

.full-button {
    border-radius: 1em;
    padding: 0.35em 1em;
    min-width: 40px;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

    /* HOLY SHIT THIS TOOK ME SO LONG */
    background: linear-gradient(to right, var(--font-color) 50%, var(--bg-color) 50%) right bottom / 205% 100%;
    border: 2px solid;
    border-color: black;
    background-position-x: right;
    background-position-y: bottom;
    transition: 0.1s ease-out;
}

.full-button:hover {
    color: var(--bg-color);
    background-position: left bottom;
}


/* bro I don't even know */
.full-button>i {
    margin-top: 1px;
    margin-right: 7px;
}