@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

:root {
  /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
  --border-theme: linear-gradient(to right, #fa709a 0%, #4053fe 100%);
  --bg-color: rgb(14, 14, 14);
  --font-color: rgba(255, 255, 255, 0.7);
  --mask-bg-color: #fa709a;
  --icon-hover-color: rgb(255, 255, 255);
  --selection-color: rgba(255, 255, 255, 0.7);
  --gradient-animation-duration: 10s;
  --gradient-animation-delay: 0s;
}

.light-mode {
  --border-theme: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  --bg-color: rgb(255, 255, 255);
  --font-color: rgba(0, 15, 24, 0.85);
  --mask-bg-color: #92fe9d;
  --icon-hover-color: rgb(0, 15, 24);
  --selection-color: rgba(0, 15, 24, 0.85);
  transition: 0.25s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis';
    font-size: larger;
    background-color: #FAFAF9;
    height: 5000px
}

header {
    display: flex;
    flex-direction: row;
    /* TODO: make responsive */
    width: 1000px;
    height: 150px;
    justify-content: space-between;
}

.minime {
    align-self: center;
    cursor: pointer;
}

.minime>img {
    width: 50px;
    image-rendering: pixelated;
}

nav {
    display: flex;
    flex-direction: row;
}

.button-item {
    align-self: center;
    padding-left: 50px;
    cursor: pointer;
    /* font-family: 'Sora', monospace; */
    /* font-weight: 1000; */
    color: var(--bg-color);
    transition: color 0.5s ease;
}

.button-item>a {
  color: var(--bg-color);
  transition: color 0.5s ease;
  text-decoration: none;
}

.button-item:hover, .button-item>a:hover {
  color: var(--bg-color);
}

.line {
    height: 3px;
    border: 0;
    margin: 5px 0 0 0;
    background: var(--bg-color);
    /* background-size: 500% 500%; */
    /* animation: gradient var(--gradient-animation-duration) ease var(--gradient-animation-delay) infinite; */
    width: 0%;
    transition: width 0.5s ease;
}

.button-item:hover>.line {
  width: 100%;
}

.button-item-selected {
  width: 100%;
}

main {
    /* background-color: #4053fe; */
    /* border:rgb(0, 15, 24); */
    /* border-style: solid; */
    /* TODO: make responsive */
    width: 1000px;
    /* height: 1000px; */
}

main>section {
    /* background-color: #92fe9d; */
    margin-top: 100px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin: 0;
}

.project-header {
    margin-bottom: 30px;
}

.project-anchor {
    cursor: pointer;
    
}

.project-card {
    background-color: #F0EEEE;
    width: 100%;
    height: 320px;
    border-radius: 20px;
    /* padding: 0 30px 0 30px; */
    display: grid;
    grid-template-columns:2% 33% 63% 2%;
    transition: all ease .3s;
}

/* https://codepen.io/Amirali_79/pen/oXZKyN */
.project-card:hover {
    box-shadow: 0 0 0 3px #FAFAF9, 0 0 0 5px #F0EEEE;
}

.project-details {
    grid-column: 2;
    display: grid;
    grid-template-rows: [date] 30% [title] 20% [desc] 10% [stack] 40%;
    padding: 30px 0 20px 0;
}

.project-tech-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: center;
    /* align-items: center; */
    width: 100%;
    /* height: auto; */
}

.project-tech-stack>span {
    background-color: #E2E2E2;
    color: #888888;
    border-radius: 20px;
    font-size: small;
    padding: 5px 10px 5px 10px;
    margin: 5px 3px 5px 3px;
    min-width: 40px;
    display: flex;
    justify-content: center;
}

.project-img {
    grid-column: 3;
    display: flex;
    justify-content: center;
}
.project-img>img {
    width: 320px;
}