@font-face {
  font-family: 'Dosis';
  src: url(fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

:root {
  --border-theme: linear-gradient(75deg, rgba(255, 215, 0, 1) 0%, rgba(255, 165, 0, 1) 13%, rgba(255, 215, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 215, 0, 1) 60%, rgba(255, 165, 0, 1) 80%, rgba(255, 215, 0, 1) 100%);
  --bg-color: rgb(28, 28, 28);
  --font-color: rgb(255, 255, 255);
  --font-color-faint: rgb(92, 92, 92);
  --selection-color: rgb(255, 14, 151);
  --test: rgb(255, 14, 151);
}

::selection {
  background: var(--selection-color);
  color: var(--bg-color);
}

body {
  background: var(--bg-color);
  font-family: 'Dosis', monospace;
  margin: 0;
  color: var(--font-color);
}

.fade {
  opacity: 0;
  animation: fade-in 2s ease forwards;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

/* TODO: not used at the moment */
.gradient-card {
  position: absolute;
  padding: 10vh;
  height: 65vh;
  width: 75vw;
  z-index: 10;
  animation: gradient-card-index 2s linear 2s forwards;
}

/* TODO: not used at the moment */
.gradient-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 10px solid transparent;
  background: var(--border-theme);
  background-size: 500% 500%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: gradient 10s ease infinite, gradient-card-animation 1.5s linear 0.5s forwards;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  /* -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.container-inner {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 80% 20%;
  height: 65vh;
  width: 75vw;
}

/* https://nikitahl.com/gradient-border-css THE GOAT */
.gradient-border-mask {
  position: relative;
  padding: 5vw;
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 10px solid transparent;
  background: var(--border-theme);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.header {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header>div {
  padding: 0 20px 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header>div>a>i {
  color: var(--font-color-faint);
  font-size: 40px;
  transition: color 0.5s ease;
}

.header>div>a>i:hover {
  color: var(--font-color);
}

.main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  position: relative;
}

.title {
  font-family: 'Sora', monospace;
  font-size: 70px;
  margin: 0;
}

.content-item-buttons {
  display: flex;
  font-size: large;
  padding-top: 1rem;
}

.content-item-buttons>div {
  padding-right: 2rem;
}

.content-item-buttons>div>a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bolder;
}

.logo-icon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  /* added because for some reason this div is lower than bg border */
  z-index: 1;
}

.logo-icon>div {
  cursor: pointer;
}

.logo-icon>div>i {
  color: var(--font-color-faint);
  transition: color 0.5s ease;
}

.logo-icon>div:hover>i {
  color: var(--font-color);
}

.side {
  height: 75%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient-border-mask-side {
  position: relative;
}

.gradient-border-mask-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  border: 3px solid transparent;
  background: var(--border-theme);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  clip-path: polygon(0 0, 40% 0, 40% 75%, 0 75%);
  transition: clip-path 0.5s ease;
}

.gradient-border-mask-side:hover::before {
  clip-path: polygon(0 0, 90% 0, 90% 40%, 0 40%);
}

.selection {
  padding: 20px;
  padding-left: 30px;
}

.button-item {
  position: relative;
  cursor: pointer;
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
  font-family: 'Sora', monospace;
}

.line {
  height: 3px;
  border: 0;
  margin: 5px 0 0 0;
  background: var(--border-theme);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  width: 50%;
  transition: width 0.5s ease;
}

.button-item:hover>.line {
  width: 100%;
}

.button-item-selected {
  width: 100%;
}

@media screen and (max-width: 480px) {

  .container {
    height: 0%;
  }

  .container-inner {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
  }

  .gradient-border-mask {
    padding: 5vh 10vw 5vh 10vw;
  }

  .gradient-border-mask::before {
    border-radius: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 25%, 25% 25%, 25% 65%, 0 65%);
  }

  .header {
    order: 3;
    justify-content: space-between;
  }

  .main {
    order: 1;
  }

  .logo-icon {
    order: 0;
    font-size: 30px;
    padding: 10px 0 10px 0;
  }

  .side {
    order: 2;
    width: 50%;
  }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .container-inner {
    grid-template-rows: 20% 80%;
    grid-template-columns: 70% 30%;
    height: 80vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .container-inner {
    grid-template-rows: 20% 80%;
    grid-template-columns: 70% 30%;
    height: 80vh;
  }

  .content {
    position: absolute;
    top: 5%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .content {
    position: absolute;
    top: 15%;
  }
}

@media screen and (min-width: 1201px) {

  .content {
    position: absolute;
    top: 35%;
    left: 0;
  }

}

/* added this because I wanted my website to look just a tiny bit better
when someone is using a Microsoft Surface Pro 3, which is also my laptop hehe. */
@media screen and (min-width: 1201px) and (max-height: 900px) {

  .content {
    position: absolute;
    top: 20%;
    left: 0;
  }

}

/* KEYFRAMES */
@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }

  50% {
    background-position: 90% 50%;
  }

  100% {
    background-position: 10% 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gradient-card-animation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  25% {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 40% 100%);
  }

  50% {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 60% 100%);
  }

  75% {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 80% 100%);
  }

  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@keyframes gradient-card-index {
  from {
    z-index: 10;
  }

  to {
    z-index: 0;
  }
}